In [1]:
import numpy as np
import pandas as pd

pd.set_option("display.max.columns", 100)
# to draw pictures in jupyter notebook
%matplotlib inline
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings

import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")

In [2]:
# for Jupyter-book, we copy data from GitHub, locally, to save Internet traffic,
# you can specify the data/ folder from the root of your cloned
# https://github.com/Yorko/mlcourse.ai repo, to save Internet traffic
DATA_URL = "https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/"

In [3]:
data = pd.read_csv(DATA_URL + "adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
#How many men and women (sex feature) are represented in this dataset?

In [5]:
data['sex'].nunique()

2

In [6]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [7]:
#What is the average age (age feature) of women?

In [8]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

In [9]:
data.groupby(by='sex')['age'].mean()

sex
Female    36.858230
Male      39.433547
Name: age, dtype: float64

In [10]:
#What is the percentage of German citizens (native-country feature)?

In [11]:
float((data['native-country'] == 'Germany').sum()) / data.shape[0]

0.004207487485028101

In [12]:
#What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [13]:
data['salary'].value_counts()

<=50K    24720
>50K      7841
Name: salary, dtype: int64

In [14]:
data[data['salary'] == '<=50K']['age'].mean()

36.78373786407767

In [15]:
data[data['salary'] == '<=50K']['age'].std()

14.02008849082488

In [16]:
data[data['salary'] == '>50K']['age'].mean()

44.24984058155847

In [17]:
data[data['salary'] == '>50K']['age'].std()

10.519027719851826

In [18]:
# Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [19]:
data[data['salary'] == '>50K']['education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

In [20]:
# Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [21]:
pd.crosstab(data['race'],data['age'])

age,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,90
race,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Amer-Indian-Eskimo,3,4,6,3,6,9,13,6,9,3,11,14,11,10,16,7,7,8,16,5,7,6,7,11,5,13,8,4,5,13,8,2,2,4,10,2,5,0,3,3,3,3,2,6,1,1,2,0,1,0,1,2,0,0,1,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0
Asian-Pac-Islander,2,11,15,20,16,27,40,36,23,32,37,22,33,38,31,28,30,29,40,33,29,23,34,19,26,22,26,25,39,18,16,21,15,22,9,13,12,16,13,7,13,6,7,8,8,5,7,5,5,3,2,0,1,3,1,3,4,0,3,0,0,2,0,0,0,0,0,0,0,0,0,0,5
Black,34,46,56,63,65,76,87,85,91,85,84,102,84,87,84,79,105,94,83,90,79,85,81,73,86,80,79,80,72,70,77,45,50,51,59,38,53,32,38,36,33,33,24,23,31,24,16,7,8,20,13,8,6,3,4,4,0,6,5,2,2,1,1,0,1,0,0,1,0,0,0,0,4
Other,7,6,5,14,6,5,8,9,11,17,10,14,15,5,10,11,13,3,4,7,5,4,4,6,7,4,7,8,4,4,4,2,2,3,2,5,6,0,1,1,3,2,0,2,0,0,1,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
White,349,483,630,653,627,648,729,662,707,648,693,715,670,721,747,703,720,752,733,763,738,709,690,685,684,661,650,607,614,632,603,473,508,522,515,420,388,367,364,319,306,322,322,273,260,228,204,196,163,126,135,110,101,83,66,60,60,43,37,44,26,20,21,21,19,11,6,9,3,1,1,3,34

In [22]:
data.groupby(by='race')['age'].describe()

,count,mean,std,min,25%,50%,75%,max
race,,,,,,,,
Amer-Indian-Eskimo,311.0,37.173633,12.447130,17.0,28.0,35.0,45.5,82.0
Asian-Pac-Islander,1039.0,37.746872,12.825133,17.0,28.0,36.0,45.0,90.0
Black,3124.0,37.767926,12.759290,17.0,28.0,36.0,46.0,90.0
Other,271.0,33.457565,11.538865,17.0,25.0,31.0,41.0,77.0
White,27816.0,38.769881,13.782306,17.0,28.0,37.0,48.0,90.0

In [23]:
data.groupby(by='sex')['age'].describe()

          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

In [24]:
data.groupby(by='sex')['age'].max().loc['Male']

90

In [25]:
#Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors

In [26]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [27]:
data['marital-status'].value_counts()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

In [28]:
data['marital-status'] = data['marital-status'].replace(['Married-civ-spouse','Married-spouse-absent','Married-AF-spouse'],'Married')

In [29]:
data["marital-status"].value_counts()

Married          15417
Never-married    10683
Divorced          4443
Separated         1025
Widowed            993
Name: marital-status, dtype: int64

In [30]:
pd.crosstab(data['marital-status'],data['salary'])

salary          <=50K  >50K
marital-status
Divorced         3980   463
Married          8681  6736
Never-married   10192   491
Separated         959    66
Widowed           908    85

In [31]:
data[(data['sex'] == 'Male') & (data['marital-status'].str.startswith("Married"))]['salary'].value_counts(normalize=True)

<=50K    0.559486
>50K     0.440514
Name: salary, dtype: float64

In [32]:
data[(data['sex'] == 'Male') & ~(data['marital-status'].str.startswith("Married"))]['salary'].value_counts(normalize=True)

<=50K    0.915505
>50K     0.084495
Name: salary, dtype: float64

In [33]:
#What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [34]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [35]:
data['hours-per-week'].max()

99

In [36]:
data['hours-per-week'].value_counts()[99]

85

In [37]:
pd.crosstab(data['hours-per-week'],data['salary']).loc[99,'>50K']

25

In [38]:
round((pd.crosstab(data['hours-per-week'],data['salary']).loc[99,'>50K'] / data['hours-per-week'].value_counts()[99]) * 100, 2)

29.41

In [39]:
# Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [40]:
data['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [41]:
countries_salaries = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()

In [42]:
countries_salaries.loc['Japan']

salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64

In [43]:
pd.crosstab(data["native-country"],data["salary"],values=data["hours-per-week"],aggfunc=np.mean).T

native-country,?,Cambodia,Canada,China,Columbia,Cuba,Dominican-Republic,Ecuador,El-Salvador,England,France,Germany,Greece,Guatemala,Haiti,Holand-Netherlands,Honduras,Hong,Hungary,India,Iran,Ireland,Italy,Jamaica,Japan,Laos,Mexico,Nicaragua,Outlying-US(Guam-USVI-etc),Peru,Philippines,Poland,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
salary,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
<=50K,40.164760,41.416667,37.914634,37.381818,38.684211,37.985714,42.338235,38.041667,36.030928,40.483333,41.058824,39.139785,41.809524,39.360656,36.325,40.0,34.333333,39.142857,31.3,38.233333,41.44,40.947368,39.625,38.239437,41.000000,40.375,40.003279,36.09375,41.857143,35.068966,38.065693,38.166667,41.939394,38.470588,39.444444,40.15625,33.774194,42.866667,37.058824,38.799127,37.193548,41.6
>50K,45.547945,40.000000,45.641026,38.900000,50.000000,42.440000,47.000000,48.750000,45.000000,44.533333,50.750000,44.977273,50.625000,36.666667,42.750,NaN,60.000000,45.000000,50.0,46.475000,47.50,48.000000,45.400,41.100000,47.958333,40.000,46.575758,37.50000,NaN,40.000000,43.032787,39.000000,41.500000,39.416667,46.666667,51.43750,46.800000,58.333333,40.000000,45.505369,39.200000,49.5